<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Interactive" version="3.2.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.1.5" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="VVVV.Core" version="38.1.0" targetFramework="net461" />
  <package id="VVVV.PluginInterfaces" version="38.1.0" targetFramework="net461" />
  <package id="VVVV.SlimDX" version="1.0.2" targetFramework="net461" />
  <package id="VVVV.System.ComponentModel.Composition.Codeplex" version="2.5.0" targetFramework="net461" />
  <package id="VVVV.Utils" version="38.1.0" targetFramework="net461" />
</packages>